@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*:focus {
  outline: none;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;

  /* ### Primary */

  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
  
  /* ### Secondary */
  
  --Red: hsl(0, 87%, 67%);
  
  /* ### Neutral */

  --bg-gray: hsl(225% 32% 95%);
  
  
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);

  max-width: 100%;
  overflow-x: hidden;

}


/* // GENERAL // */



.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.header {
  margin-top: 20px;
  width: 100%;
  height: 100px;

  display: flex;
  
  /* /* align-items: space-between; */
  justify-items: space-between; 
  gap: 30%;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-image: url( '../public/images/logo.svg' );
}

.header-left-group{
  display: flex;
  justify-items: center;
  align-items: center;

  gap: 60px;
}

.header-left-group-links{
  display: flex;
  gap: 20px
}

.header-link, .login{
  font-size: 15px;
  color: grey;
  width: 100%;
}

.header-link:hover,
.header-link:active,
.login:hover,
.login:active {
  cursor: pointer;
  color: black;

}

.header-right-group {
  align-self: center;
  margin-left: 200px;
}

.sign-up {
  font-size: 15px;
  color: white;
  background-color: var(--Cyan);
  padding: 10px 20px;
  border-radius: 30px;
  max-height: 30px;
  margin-left: 20px
}

.sign-up:hover {
  filter: brightness(1.5);
  cursor: pointer;
}


.section-intro {
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 1fr;
  
}

.intro-image-container {
  grid-row: 1;

}

.intro-image{
  max-width: 100%;
  max-height: 300px;
  overflow-y: hidden;
  transform: translate(140px, 50px);
  scale: 1.3
}

.intro-text-container {
  margin: 60px auto;
  grid-row: 2;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr;
 
} 

.intro-section-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--VeryDarkViolet);
  text-align: center;
  margin: 0px;
}

.intro-section-desc {
  font-size: 22px;
  font-weight: 500;
  color: var(--GrayishViolet);
  text-align: center;
  /* margin: 20px; */
}

.intro-cta {
  margin: 10px auto;
  
}

.button-pill {
  font-size: 20px;
  color: white;
  background-color: var(--Cyan);
  padding: 10px 50px;
  border-radius: 30px;
  max-height: 30px;
  margin-bottom: 10px
}

.button-pill:hover {
  filter: brightness(1.5);
  cursor: pointer;
}



.shorten-link-form {
  background-image: url( '../public/images/bg-shorten-desktop.svg' );
  background-color: var(--DarkViolet);
  border-radius: 8px;
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-input-state:placeholder-shown {
  color: red;
}

.error-input-state {
  border: 2px solid red;
}

.input-container {
  width: 100%
}

.shorten-link-input {
  min-width: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 10px 30px;
  margin: 20px 0;
  margin-bottom: 10px;
  font-size: 18px;
}


.shorten-link-input:focus {
  outline: none;
}

.shorten-link-input::placeholder {
  padding: 5px 20px;
  font-size: 18px;
}

.shorten-link-form-button {
  /* width: 80%; */
  border-radius: 5px;
  border: none;
  padding: 10px 100px;
  font-size: 18px;
  background-color: var(--Cyan);
  color: white;
  margin: 20px 20px;
}

.shorten-link-form-button:hover,
.shorten-link-form-button:active {
  cursor: pointer;
  filter: brightness(1.75);
}

.error-message {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;

  align-self: start;
}



.section-shortened-link-results {
  max-width: 100%;
  display: grid;
  background-color: rgb(217, 222, 231);
  transform: translateY(-50px);
}

.shortened-link-results-container {
  grid-row: 2;
  background-color: rgb(217, 222, 231);
  border-radius: 15px;
}

.shortened-link-result {
  max-width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
}

.shortened-link {
  color: var(--Cyan)
}

.original-link {
  font-size: 16px;
  margin: 10px 0;
  margin-bottom: 5px;
}

.copy-link-button {
  background-color: var(--Cyan);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}

.copy-link-button:hover,
.copy-link-button:active {
  cursor: pointer;
  filter: brightness(1.75);
}

.copy-link-button:visited {
  content: 'Copied!';
  background-color: var(--DarkViolet);
}

.shorten-API-div {
  z-index: 1;
  background-color: rgb(217, 222, 231);
  position: relative;
  top: 100px
}


.shorten-link-container{
  margin: 0 20px; 
  display: grid;
}

.original-link {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.section-features{
  background-color: rgb(217, 222, 231);
  width: 100%;
  padding-top: 100px;
}

.section-features-container {
  background-color: rgb(217, 222, 231);
  width: 100%;
}

.section-features-text-container {
  background-color: rgb(217, 222, 231);
  display: grid;
  justify-content: center;
}

.section-features-title-box{
  display: grid;
  justify-items: center;
}

.section-features-heading {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.section-features-desc {
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  color: grey;
  margin: 20px 20px 60px 20px;
}

.section-features-details-container {
  display: grid;
  grid-template-columns:1fr;
  gap:  40px;

}

.section-features-detail-card {
  background-color: white;
  margin: 40px 20px;
  padding: 0 20px;
  z-index: 1000;

  display: grid;
}


.sections-features-detail-card-bg-line {
  height: 750px;
  width: 8px;
  background-color: var(--Cyan);
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  left: 49%;
  transform: translateY(200px);
}

.section-features-detail-card-round-icon {
  height: 80px;
  width: 80px;
  border-radius: 40px;
 
  background-color: var(--DarkViolet);
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(-40px);

}

.brand-recognition-icon {
  background-image: url('../public/images/icon-brand-recognition.svg');
}

.detailed-records-icon {
  background-image: url('../public/images/icon-detailed-records.svg');
}

.fully-customizable-icon {
  background-image: url('../public/images/icon-fully-customizable.svg');
}

.section-features-detail-card-text-box {
  margin-top: 0;
  transform: translateY(-20px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.section-features-detail-card-heading {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0px;
  text-align: center;
}

.section-features-detail-card-desc {
  color: gray;
  font-size: 15px;
  margin: 0 10px;
  text-align: center;
}

.section-boost {
  max-height: 250px;
  margin-top: 60px;
  padding: 30px 0; 
  background-image: url('../public/images/bg-boost-desktop.svg');
  background-color: var(--DarkViolet);
  background-repeat: repeat;

  display: grid;
  place-content: center;
  text-align: center;
}

.section-boost-text-container {

  /* margin-top: 20px; */
  transform: translateY(-30px);
}

.section-boost-heading {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.section-boost-cta-button {
  background-color: var(--Cyan);
  border: none;
  border-radius: 40px ;
  padding: 10px 30px;

  font-size: 20px;
  font-weight: bold;
  color: white;
}

.section-boost-cta-button:hover,
.section-boost-cta-button:focus,
.section-boost-cta-button:active {
  cursor: pointer;
  filter: brightness(1.75)
}

.footer {
  background-color: var(--VeryDarkBlue);
  background-color: black;

  /* height: 310px; */
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 60px 0;
  margin: 0 auto;
  max-width: 1110px;
}

.footer-logo-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  background-image: url('../public/images/logo white.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 120px;
  margin-bottom: 20px
}

.footer-grid-center-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  
}


.footer-links-heading {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}


.footer-links{
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-links:hover,
.footer-links:focus,
.footer-links:active {
  cursor: pointer;
  color: var(--Cyan);
}

.footer-socials-container {
  margin-top: 40px;
  display: flex;
  justify-content: top;
  align-items: top;
  gap: 20px;
}

.footer-socials-icon:hover path,
.footer-socials-icon:focus path,
.footer-socials-icon:active path {
  cursor: pointer;
  fill: aqua;
}

/* // mobile // */


@media only screen and (max-width: 1200px) {


  body{
    overflow-x: hidden;
  }
  
  .mobile-hidden {
    /* APPLIED TO DESKTOP ONLY ELEMENTS */
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20px;
  }

  .mobile-header-left-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-header-left-group-logo {
    background-image: url('../public/images/logo.svg');
    display: flex;
    align-self: center;
  }

  .mobile-header-right-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .mobile-menu-icon {
    content: "";
    background-image: url('../public/images/menu-outline.svg');
    
    filter: grayscale(100%);
    background-repeat: no-repeat;
    transform: scale(.8);

    padding: 20px 20px;
  }

  .mobile-menu-icon:hover {
    filter: brightness(1.5);
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 12%;
    /* right: 0; */

    width: 80%;
    height: 50%;

    background-color: var(--DarkViolet);
    border: none;

    border-radius: 15px;

    /* z-index: 1; */

    font-size: 18px;
    color: white;
  }

  .mobile-menu-group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px 0px;
    margin-top: 40px
  }

  .mobile-menu-group-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px 0px;
    padding: 0px 0;

    border-top: 1px solid var(--GrayishViolet);
  }

  .mobile-menu-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin: 13px 0px;
  }



  .mobile-menu-button {
    font-size: 18px;
    padding: 10px 100px;
  }

  .mobile-menu-link:hover {
    filter: brightness(1.5);
    cursor: pointer;
  }

  .intro-section-container {
   width: 100%
  }

  .intro-image-container {
    grid-row: 1;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(-110px, -50px);

  }

  .intro-text-container{
   max-width: 100%;
  }

  .intro-section-desc {
    font-size: 18px;
    font-weight: 500;
    color: var(--GrayishViolet);
    text-align: center;
    margin: 20px;
  }


  .error-state-shift {
    /* transform: translateY(0px); */
  }


  
  .section-features-detail-card-round-icon {
  align-self: center;
  justify-self: center;
  }

  }








/* // DESKTOP // */


@media only screen and (min-width: 1200px) {

  .desktop-hidden {
      display: none;
    }
  

  .App {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%);
    justify-items: center;
    overflow-x: hidden;
  }

  .header {
    max-width: 1110px;
    display: flex;
    align-items: center;
    margin: 20px 200px;
  }

  .section-intro{
    width: 1110px;
    grid-template-rows: 1fr;
    /* grid-template-columns: 5fr 3fr; */
  }

  .intro-text-container {
  
    grid-column: 1;
    grid-row: 1;
    display: block;
    /* justify-content: flex-start; */

  }

  .intro-image-container {
    grid-column: 2;
    transform: translate(-100px, 0px);
    /* place-content: center; */

  }

  .intro-image {
    scale: 1.6;
    /* margin: 0 auto; */
    
  }

  .intro-section-title {
    font-size: 80px;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    letter-spacing: -2px;
  }

  .intro-section-desc {
    font-size: 22px;
    max-width: 90%;;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    letter-spacing: -1px;
    margin-left: 0px;
    margin-bottom: 40px
  }


  .shorten-API-div {
    width: 100%;
    background-color: rgb(217, 222, 231);
    display: grid;
    justify-items: center;
  }

  .shorten-link-form {
    width: 1110px;
    max-width: 1110px;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateY(-75px); 
    gap: 100px
  }

  .shorten-link-input-container {
    min-width: 700px;
    margin: 0 20px;
  }

  .shorten-link-input {
    min-width: 750px;
    margin: 0 20px;
  }

  .error-message {
    position: absolute;
    top: 100px;
    left: 30px;
  }

  .shorten-link-form-button {
    flex: 2;
    width: 150px;
    padding: 10px 30px;
    transform: translateX(-80px);
  }

  .shorten-link-container {
    margin: 0;
  }

  .shortened-link-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
  }

  .section-features{
    width: 1110px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    /* margin-top: 100px; */
    margin-bottom: 100px;
  }

  .section-features-details-container {
    /* width: 1110px; */
    margin-top: 40px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:  40px;
  
  }

  .section-features-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /* margin-top: 0px; */
    margin-bottom: 0px;
  }

  .section-features-desc {
    font-size: 18px;
    width: 60%;
  }

  .sections-features-detail-card-bg-line {
    height: 8px;
    width: 50%;
    background-color: var(--Cyan);
    /* position: relative; */
    left: 25%
  }

  .shift-down-1 {
    transform: translateY(40px);
  }
  
  .shift-down-2 {
    transform: translateY(80px);
  }

  .section-boost-heading {
    font-size: 40px;
  }

  .footer-grid-container {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: top;
  }

  .footer-grid-center-container {
    display: grid;
    align-items: top;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
  }

  .footer-links-heading {
    margin-top: 0px;
  }

  .footer-socials-container{
    margin-top: 0;
  }




}